$blue-primary: #7DBBBA
$red-primary: #DA3044
$bg-color: #F2F2F2

.main
	padding: 0
	margin: 0
	.container
		padding: 0
		margin: 0
		.row
			padding: 0
			margin: 0
			width: 100vw
			.col-6
				padding: 0
				margin: 0
				height: 800px
				.logo
					.logo-img
						margin-top: 100px
						max-width: 150px
						&:hover
							max-width: 220px
							margin-top: 90px
				.logo-text-gopro
					a
						font-family: 'Pacifico', cursive
						color: white
						font-size: 15px
						&:hover
							text-decoration-line: none
				.logo-text-vinyls
					a
						font-family: 'Pacifico', cursive
						color: black
						font-size: 15px
						&:hover
							text-decoration-line: none
			.goprows
				background: black
			.vinylsws
				background: white


