@font-face {
  font-family: "rio";
  src: url(../fonts/rio.ttf) format("truetype");
  font-style: normal; }
body {
  background: white;
  font-family: "Futura Md BT";
  padding-top: 40px; }

header .navbar {
  /*max-height: 85px */
  background: white;
  padding: 0;
  margin: 0; }
  header .navbar .container .logo-container .logo-img {
    max-height: 50px;
    margin-top: 6px;
    margin-bottom: 3px; }
  header .navbar .container .custom-toggler {
    border: none; }
    header .navbar .container .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  header .navbar .container .navbar-collapse .navbar-nav {
    /*Horizontal display */
    display: flex;
    flex-flow: row nowrap;
    /****************** */ }
    header .navbar .container .navbar-collapse .navbar-nav .nav-item {
      padding: 0px 10px; }
      header .navbar .container .navbar-collapse .navbar-nav .nav-item a {
        color: black;
        font-size: 18px; }
        header .navbar .container .navbar-collapse .navbar-nav .nav-item a:hover {
          text-decoration: underline; }

.main {
  padding: 0;
  margin: 0; }
  .main .container {
    padding: 0;
    margin: 0; }
    .main .container .row {
      padding: 0;
      margin: 0;
      width: 100vw; }
      .main .container .row .col-6 {
        padding: 0;
        margin: 0;
        height: 100vh; }
        .main .container .row .col-6 .logo .logo-img {
          margin-top: 100px;
          max-width: 150px; }
          .main .container .row .col-6 .logo .logo-img:hover {
            max-width: 180px;
            margin-top: 90px; }
        .main .container .row .col-6 .logo-text-gopro a {
          font-family: "Pacifico", cursive;
          color: white;
          font-size: 15px; }
          .main .container .row .col-6 .logo-text-gopro a:hover {
            text-decoration-line: none; }
        .main .container .row .col-6 .logo-text-vinyls a {
          font-family: "Pacifico", cursive;
          color: black;
          font-size: 15px; }
          .main .container .row .col-6 .logo-text-vinyls a:hover {
            text-decoration-line: none; }
      .main .container .row .goprows {
        background: black; }
      .main .container .row .vinylsws {
        background: white; }

footer .container {
  padding: 0;
  margin: 0; }
  footer .container .row {
    padding: 0;
    margin: 0;
    width: 100vw;
    background: black; }
    footer .container .row .col-6 {
      background: white; }
      footer .container .row .col-6 .footer-content {
        padding-right: 50px; }
        footer .container .row .col-6 .footer-content a {
          color: black; }
          footer .container .row .col-6 .footer-content a:hover {
            text-decoration: underline; }
          footer .container .row .col-6 .footer-content a .mail-icon {
            color: black;
            font-size: 30px; }
      footer .container .row .col-6 .modal .modal-header {
        padding: 10px; }
        footer .container .row .col-6 .modal .modal-header h1 {
          font-size: 20px;
          color: black; }
      footer .container .row .col-6 .modal .modal-body {
        padding: 0px; }
        footer .container .row .col-6 .modal .modal-body .row {
          background: white;
          width: auto;
          padding: 10px 0px;
          margin: auto; }
          footer .container .row .col-6 .modal .modal-body .row .col {
            padding: auto;
            margin: auto; }
          footer .container .row .col-6 .modal .modal-body .row .col-6 {
            padding: 10px;
            margin: auto; }
          footer .container .row .col-6 .modal .modal-body .row .btn-submit {
            background: black;
            color: white; }
          footer .container .row .col-6 .modal .modal-body .row .fas {
            color: black; }

/*# sourceMappingURL=style.css.map */
