$blue-primary: #7DBBBA
$red-primary: #DA3044
$bg-color: #F2F2F2

.main 
	.container
		.row
			padding: 0
			margin: 0
			.socialmedia-link
				padding: 5px
				i
					font-size: 18px
				.fa-soundcloud
					color: #FE5000
				.fa-youtube
					color: #FF0000
				.fa-instagram
					color: #C13584
				.fa-spotify
					color: #1DB954
			.col-8
				padding: 0
				margin: 0
				.vinyl
					padding: 0
					margin: -20px 0