@font-face {
  font-family: "rio";
  src: url(../fonts/rio.ttf) format("truetype");
  font-style: normal; }
body {
  background: white;
  font-family: "Futura Md BT";
  padding-top: 40px; }

header .navbar {
  /*max-height: 85px */
  background: white;
  padding: 0;
  margin: 0; }
  header .navbar .container .logo-container .logo-img {
    max-height: 50px;
    margin-top: 6px;
    margin-bottom: 3px; }
  header .navbar .container .custom-toggler {
    border: none; }
    header .navbar .container .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  header .navbar .container .navbar-collapse .navbar-nav {
    /*Horizontal display */
    display: flex;
    flex-flow: row nowrap;
    /****************** */ }
    header .navbar .container .navbar-collapse .navbar-nav .nav-item {
      padding: 0px 10px; }
      header .navbar .container .navbar-collapse .navbar-nav .nav-item a {
        color: black;
        font-size: 18px; }
        header .navbar .container .navbar-collapse .navbar-nav .nav-item a:hover {
          text-decoration: underline; }

.main .container .row {
  padding: 0;
  margin: 0; }
  .main .container .row .socialmedia-link {
    padding: 5px; }
    .main .container .row .socialmedia-link i {
      font-size: 30px; }
    .main .container .row .socialmedia-link .fa-soundcloud {
      color: #FE5000; }
    .main .container .row .socialmedia-link .fa-youtube {
      color: #FF0000; }
    .main .container .row .socialmedia-link .fa-instagram {
      color: #C13584; }
    .main .container .row .socialmedia-link .fa-spotify {
      color: #1DB954; }
  .main .container .row .col-8 {
    padding: 0;
    margin: 0; }
    .main .container .row .col-8 .vinyl {
      padding: 0;
      margin: -20px 0; }

footer .container {
  padding: 0;
  margin: 0; }
  footer .container .row {
    padding: 0;
    margin: 0;
    width: 100vw; }
    footer .container .row .col-6 .footer-content {
      padding-right: 50px; }
      footer .container .row .col-6 .footer-content a {
        color: black; }
        footer .container .row .col-6 .footer-content a:hover {
          text-decoration: underline; }
        footer .container .row .col-6 .footer-content a .mail-icon {
          color: black;
          font-size: 30px; }
    footer .container .row .col-6 .modal .modal-header {
      padding: 10px; }
      footer .container .row .col-6 .modal .modal-header h1 {
        font-size: 20px;
        color: black; }
    footer .container .row .col-6 .modal .modal-body {
      padding: 0px; }
      footer .container .row .col-6 .modal .modal-body .row {
        background: white;
        width: auto;
        padding: 10px 0px;
        margin: auto; }
        footer .container .row .col-6 .modal .modal-body .row .col {
          padding: auto;
          margin: auto; }
        footer .container .row .col-6 .modal .modal-body .row .col-6 {
          padding: 10px;
          margin: auto; }
        footer .container .row .col-6 .modal .modal-body .row .btn-submit {
          background: black;
          color: white; }
        footer .container .row .col-6 .modal .modal-body .row .fas {
          color: black; }

/*# sourceMappingURL=style.css.map */
